*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-size: 18px;
}

body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }
li{
  list-style-type: none;
}

/*------------------*/
/* header style */
/*------------------*/

/* sidebar section */

.head-sidebar{
  display: none;
  z-index: 10;
}

body{
  background-color: #ddd;
}
.slide{
  z-index: 5;
  height: 50%;
  width: 160px;
  position: fixed;
  top: 1px;
  left: 1px;
  background-color: #fff;
  transition: 0.5s ease;
  transform: translateX(-190px);
}
.slide ul li a b{
  font-size: 12px;
}
.slide h1{
  color: #8000ff;
  font-weight: 800;
  text-align: right;
  margin: 60px 0 12px 0;
  padding-right: 30px;
  pointer-events: none;
  font-size: 20px;
}
.slide ul li{
  list-style: none;
}
.slide ul li a{
  color: #011a41;
  font-weight: 500;
  padding: 5px 0;
  display: block;
  text-transform: capitalize;
  text-decoration: none;
  transition: 0.2s ease-out;
}
.slide ul li a i{
  width: 40px;
  text-align: center;
}
.sidebar{
  display: none;
  visibility: hidden;
}
.toggle{
  position: fixed;
  height: 30px;
  width: 30px;
  z-index: 6;
  top: 12px;
  left: 12px;
  cursor: pointer;
  border: 2px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.toggle .common{
  position: absolute;
  height: 2px;
  width: 20px;
  background-color: #8000ff;
  border-radius: 50px;
  transition: 0.3s ease;
}
.toggle .top_line{
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .middle_line{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.toggle .bottom_line{
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sidebar:checked ~ .toggle .top_line{
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(45deg);
}
.sidebar:checked ~ .toggle .middle_line{
  opacity: 0;
  transform: translateX(20px);
}
.sidebar:checked ~ .toggle .bottom_line{
  left: 2px;
  top: 14px;
  width: 25px;
  transform: rotate(-45deg);
}
.sidebar:checked ~ .slide{
  transform: translateX(0);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

/* navigator section */
button{
  padding: 0.5rem;
  border: none;
  background-color: #d9d9d9;
}
h1{
  font-size: 32px;
}
#grow{
  font-size: 100px;
}
#line{
  font-size: 30px;
}
a{
  text-align: center;
}
#logo, .fa-solid{
  font-size: 30px;
}
li{
  list-style-type: none;
}
.navbar{
  background-color: #fff;
  display: flex;
  padding: 0.25rem;
  justify-content: space-between;
  height: 10vh;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.navbar li a, .container-signup li button{
  font-size: 15px;
}
@media only screen and (max-width: 1100px) {
  #logo, .fa-solid{
    font-size: 20px;
  }
  .navbar li a, .container-signup li button{
    font-size: 12px;
  }
}
@media only screen and (max-width: 760px) {
  .navbar li a{
    display: none;
  }
  .navbar .head-sidebar{
    display: flex;
    z-index: 5;
  }
}
.navbar .nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  height: 50%;
}
.navbar .container-signup{
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 50%;
  align-items: center;
  padding: 1rem;
}
.effect:hover{
  margin-top: 15px;
  border-bottom: black 1px solid;
}
#blank{
  width: 60%;
}
.move:hover{
  cursor: pointer;
  transition: 0.3s;
  background-color: aqua;
  color: white;
  font-size: 20px;
  border-bottom: 1px solid black;
}
.signup{
  display: flex;
  justify-content: end;
  width: 40%;
}

/* POPUP */

.button{
  background-color: #fff;
  padding: 10px 15px;
  color: #34495e;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 18px;
  border-radius: 5px;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  margin-top: 25px;
  text-decoration: none;
  transition: 0.4s;
}
.button:hover{
  background: #34495e;
  color: #fff;
}
.popup{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1000;
}
.popup-content{
  position: relative;
  padding: 1rem;
  border-radius: 20px;
  width: 500px;
  height: 400px;
  background-color: white;
}
input{
  border-radius: 5px;
  margin: 20px auto;
  display: block;
  width: 50%;
  padding: 4px;
}
.close{
  position: absolute;
  right: 40px;
  background-color: #fff;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

/*------------------*/
/* Main Style */
/*------------------*/

/* slider section */

.mySlides{
  display: none;
  z-index: 0;
}
img{
  vertical-align: middle;
}
.slideshow-container{
  max-width: 100%;
  position: relative;
  margin: auto;
}
.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next{
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.text{
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 8px;
}
.numbertext{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
}
.dot{
  position: relative;
  top: -25px;
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover{
  background-color: #f5f5f5;
}
.fade{
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from{
    opacity: .4;
  }
  to{
    opacity: 1;
  }
}
@keyframes fade {
  from{
    opacity: 0.4;
  }
  to{
    opacity: 1;
  }
}

@media only screen and (max-width:300px) {
  .prev, .next, .text{
    font-size: 11px;
  }
  .dot{
    height: 10px;
    width: 10px;
  }
}
@media only screen and (max-width:500px) {
  .prev, .next, .text{
    font-size: 14px;
  }
}

/*------------------*/

/* buy-sell-box section */
.buy-sell-box{
  display: flex;
  height: 70vh;
  position: relative;
  bottom: 80px;
  max-width: 1100px;
  margin: auto;
  transition: 0.3s;
  padding: 20px;
  z-index: 1;
  background-color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}
.buy-sell-box .buy{
  width: 100%;
  height: 70vh;
}
.buy-sell-box .buy input{
  width: 80%;
}
.buy-sell-box .buy h2{
  font-size: 32px;
  text-align: center;
}
.buy-sell-box .buy .advertise-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.buy-sell-box .buy .advertise-container .advertise-card{
  max-width: 230px;
  width: 25%;
  margin-right: 5px;
  height: 15vh;
  /* border: 1px solid black; */
}
.buy-sell-box .buy .brands-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.buy-sell-box .buy .brands-container .brands-box{
  max-width: 50px;
  width: 11%;
  height: 8vh;
  /* border: solid 1px blue; */
}
.buy-sell-box .buy .type-container{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.buy-sell-box .buy .type-container .type-box{
  width: 11%;
  height: 8vh;
  margin-right: 60px;
}
.buy-sell-box .buy .type-container .type-box img{
  object-fit: cover;
  height: 8vh;
}

@media only screen and (max-width: 1128px) {
  .buy-sell-box{
    width: 900px;
  }
}
@media only screen and (max-width: 942px) {
  .buy-sell-box{
    display: flex;
    width: auto;
    position: relative;
    top: 5px;
  }
  .buy-sell-box .buy{
    width: 100%;
    height: 70vh;
  }
}
/*------------------*/

 /* browse-car section */

.browse-cars{
  flex-direction: column;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(139, 241, 241);
}
.browse-cars h1{
  margin-top: 40px;
}

/* card section for browse car */
.card{
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  width: 300px;
  height: 350px;
  border-radius: 5px 0px 5px 5px;
  background-color: white;
}
.image{
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  height: 50%;
  object-fit: cover;
}
.card-description{
  width: 100%;
  height: 60%;
  padding: 5px 10px;
}
.card-description p{
  font-size: 14px;
  color: grey;
}
.card-description .prize h4{
  font-size: 16px;
}
.card-description .prize span{
  font-size: 30px;
  color: red;
}
.card-description .prize{
  display: flex;
  justify-content: space-between;
  align-items: end;
}

/* swiper for browse car */
.swiper{
  width: calc(100% - 20%);
  height: calc(80vh - 4rem);
  border-radius: 8px;
}
.swiper-slide > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  position: relative;
}
.pagination_{
  position: absolute;
  width: calc(100% - 10%);
}
.pagination_ div[class^="swiper-button"]::after{
  display: none;
}
.pagination_ div[class^="swiper-button"]{
  width: 45px;
  height: 45px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.pagination_ div[class^="swiper-button"] img{
  width: 60%;
}
/*------------------*/

/* how it works section */

.how-it-works{
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  flex-direction: column;
}

.switch-container{
  position: relative;
  align-items: center;
  padding: 20px 30px;
  width: 100%;
  height: 100vh;
  border-radius: 4px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.switch{
  position: absolute;
  right: 60px;
  display: flex;
  border-bottom: 1px solid blue;
}
.switch.active{
  border-bottom: 1px solid blue;
}
.switch:after{
  content: "";
  height: 6px;
  width: 115px;
  background-color: rgb(139, 241, 241);
  border-radius: 60px 60px 0 0;
  position: absolute;
  bottom: 0;
  left: 8px;
  transition: 0.3s ease;
}
.switch.active:after{
  left: 140px;
  width: 140px;
  background: red;
}
.switch .switch-buy{
  padding: 5px 12px;
  background-color: red;
  margin-bottom: 10px;
  border-radius: 50px;
  text-align: right;
  margin-left: 4px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3 ease;
}
.switch .switch-sell{
  padding: 5px 12px;
  margin-bottom: 10px;
  border-radius: 50px;
  text-align: right;
  margin-left: 4px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3 ease;
}
.switch-container .outer{
  width: 100%;
  margin-top: 40px;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.outer .overflow{
  width: 200%;
  position: relative;
  display: flex;
  margin: auto;
  transition: 0.2s ease-in-out;
}
.overflow .how-to-buy{
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overflow .how-to-sell{
  margin: auto;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*------------------*/

/* FAQ section */

#mid{
  margin-top: 60px;
  text-align: center;
}
.faq{ 
  padding: 0 0 0 100px;
  flex-direction: column;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* collapse section */

.collapse{
  max-width: 90%;
  overflow: hidden;
  font-weight: 500;
}
.collapse input{
  display: none;
}
.collapse label{
  position: relative;
  font-weight: 600;
  background-color: #fff;
  /* box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, 0.8); */
  color: #1c1c6b;
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  z-index: 1;
}
.collapse label:after{
  content: "";
  position: absolute;
  right: 15px;
  top: 15px;
  width: 18px;
  height: 18px;
  transition: all 0.3s ease;
}

.collapse-text{
  max-height: 1px;
  overflow: hidden;
  border-radius: 4px;
  line-height: 1.4;
  position: relative;
  top: -100%;
  opacity: 0.5;
  transition: all 0.3s ease;
  border-bottom: 1px black solid;
}
.collapse input:checked ~ .collapse-text{
  max-height: 300px;
  padding-bottom: 25px;
  background-color: #fff;
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.1), 0 4px 11px 0 rgba(0, 0, 0, 0.8);
  opacity: 1;
  top: 0;
}
.collapse-text h2{
  margin-bottom: 10px;
  padding: 15px 15px 0;
  color: #1c1c6b;
}
.collapse-text p{
  padding-left: 15px;
  padding-right: 15px;
}
/*------------------*/

/*------------------*/
/* footer style */
/*------------------*/

/* popular car section */
.popular-car{
  height: 40vh;
  background-color: antiquewhite;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  flex-direction: column;
}
.popular-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.popular-container li:hover{
  text-decoration: underline;
}
/*------------------*/

/* foot page section */

footer{
  background-color: #1a212c;
}
#foot-input{
  width: 250px;
}
.foot .foot-sub h4, .foot .foot-sub .white{
  color: white;
}
.foot .foot-logo p,.foot-sub p, .foot-box-container div{
  font-size: 12px;
  color: grey;
}
.fa-brands{
  color: grey;
  margin-right: 5px;
  font-size: 25px;
}
.foot{
  margin: auto;
  max-width: 1212px;
  padding: 25px 40px;
  display: flex;
  border-bottom: 1px solid grey;
}
.foot-logo{
  min-width: 219px;
  margin-right: 40px;
  height: 40%;
  width: 30%;
}
.foot-sub{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 20%;
  justify-content: start;
}
.foot-sub .email-submitter{
  width: 30%;
  display: flex;
  align-items: center;
}
.foot-box-container{
  width: 80%;
  display: flex;
}
.foot-sub .foot-box-container .foot-sub-box{
  width: 33%;
}
.foot2{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 50px 30px 0px; 
  max-width: 1212px;
}
.foot2 p{
  width: 70%;
  font-size: 12px;
  color: grey;
  text-align: start;
}
.foot2 .language{
  width: 30%;
}
@media only screen and (max-width: 1000px){
  .foot-box-container{
    width: 100%;
    display: flex;
  }
}
@media only screen and (max-width: 638px){
  .foot{
    flex-wrap: wrap;
  }
  .foot-logo, .foot-sub{
    width: 100%;
  }
  .foot-box-container{
    width: 100%;
    display: flex;
  }
  .foot .foot-logo p,.foot-sub p{
    font-size: 12px;
  }
  .foot2{
    flex-wrap: wrap;
    justify-content: start;
  }
  .foot2 p{
    margin-bottom: 15px;
  }
}
/*------------------*/